* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 10px;
    background-color: #D9E5CB;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
   a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #ffffff;
  }
  
